{% extends 'eco_base.html' %}
{% block content %}
<div style="position: absolute; top: 20px; left: 20px;">
    <a href="{% url 'home' %}" style="background: gray; color: white; padding: 10px; text-decoration: none; border-radius: 5px;">
        🏠 Home
    </a>
</div>
<div style="text-align: center; margin-top: 50px;">
    <h2>🔑 Change Password</h2>

    <form method="post" style="width: 50%; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" style="background: green; color: white; padding: 10px; border: none; cursor: pointer; border-radius: 5px; width: 100%;">
            Update Password
        </button>
    </form>
</div>
{% endblock %}


<!-- buyer -->